# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
botorch=0.8.0=pypi_0
ca-certificates=2022.9.24=h5b45459_0
cloudpickle=2.2.0=pypi_0
colorama=0.4.6=pypi_0
contourpy=1.0.6=pypi_0
cycler=0.11.0=pypi_0
fonttools=4.38.0=pypi_0
gpytorch=1.9.0=pypi_0
gym=0.26.2=pypi_0
gym-notices=0.0.8=pypi_0
importlib-metadata=5.1.0=pypi_0
joblib=1.2.0=pypi_0
kiwisolver=1.4.4=pypi_0
libsqlite=3.40.0=hcfcfb64_0
linear-operator=0.2.0=pypi_0
matplotlib=3.6.2=pypi_0
multipledispatch=0.6.0=pypi_0
numpy=1.23.5=pypi_0
openssl=1.1.1s=hcfcfb64_1
opt-einsum=3.3.0=pypi_0
packaging=21.3=pypi_0
pandas=1.5.2=pypi_0
pillow=9.3.0=pypi_0
pip=22.3.1=pyhd8ed1ab_0
pybullet=3.2.5=pypi_0
pyparsing=3.0.9=pypi_0
pyro-api=0.1.2=pypi_0
pyro-ppl=1.8.3=pypi_0
python=3.9.0=h7840368_5_cpython
python-dateutil=2.8.2=pypi_0
pytz=2022.6=pypi_0
scikit-learn=1.1.3=pypi_0
scipy=1.9.3=pypi_0
setuptools=65.5.1=pyhd8ed1ab_0
six=1.16.0=pypi_0
sqlite=3.40.0=hcfcfb64_0
threadpoolctl=3.1.0=pypi_0
torch=1.13.0=pypi_0
tqdm=4.64.1=pypi_0
typing-extensions=4.4.0=pypi_0
tzdata=2022g=h191b570_0
ucrt=10.0.22621.0=h57928b3_0
vc=14.3=h3d8a991_9
vs2015_runtime=14.32.31332=h1d6e394_9
wheel=0.38.4=pyhd8ed1ab_0
zipp=3.11.0=pypi_0
